<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AccuMap.FileDownloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AccuMap.FileDownloader.Properties.Settings>
            <setting name="UnzipDownloadedFiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DownloadLocation" serializeAs="String">
                <value>C:\ProgramData\PSAppDeployToolkit\InstallTemp\Files</value>
            </setting>
        </AccuMap.FileDownloader.Properties.Settings>
    </userSettings>
</configuration>